@import 'base';

$boxShadowBttSize1: 5px;
$boxShadowBttSize2: 8px;

main {
  display: grid;
  height: 100%;
  grid-template-columns: 100% auto;
  width: 100%;
}

select {
  color: $fontColor;
  font-size: 14px;
  font-weight: 400;
  background-color: $roxoEscuroForte;
  border-width: 0;
  border-radius: 8px;
}

input[type=file]::file-selector-button {
  color: $fontColor;
  font-size: 15px;
  font-weight: 400;
  border-width: 0;
  padding: 5px;
  border-radius: 0 10px 0 10px;
  background-color: $roxoEscuro3;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
      background-color: $roxoEscuroForte;
  }
  &:active {
      background-color: $roxoEscuroForte2;
  }
}

.bttcarregarscript {
  font-size: medium;
  font-weight: 400;
  border-radius: 0 10px 0 10px;
  background-color: $roxoEscuro3;
  box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
      background-color: $roxoEscuroForte;
      box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte2;
  }
  &:active {
      background-color: $roxoEscuroForte2;
      box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte3;
  }
}

.bttcarregarscript:disabled,
.bttcarregarscript[disabled]{
  background-color: $roxoEscuro3-trans;
  box-shadow:  transparent transparent transparent;
  color: $fontColor-trans;
  cursor: default;
}

.divcentralizar{
  @include CenterFlexRowDiv;
  justify-content: center;
}

#bttcarregargrafo {
  width: 8vw;
  height: 50px;
  font-size: large;
  font-weight: 400;
  border-radius: 0 10px 0 10px;
  background-color: $roxoEscuro3;
  box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
      background-color: $roxoEscuroForte;
      box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte2;
  }
  &:active {
      background-color: $roxoEscuroForte2;
      box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte3;
  }
}

#divgeral{
  background-color: $rosaEscuro;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }
}

.active{
  background-color: $roxoEscuro3;
}